<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Roles for {{ username }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #rolesForm="ngForm" id="rolesForm">
    <div class="form-check" *ngFor="let role of availableRoles">
      <input type="checkbox"
        name="{{ role }}"
        class="form-check-input"
        [value]="role"
        [checked]="selectedRoles.includes(role)"
        [disabled] = "role === 'Admin' && username === 'admin'"
        (change)="updateChecked(role)">

      <label  class="form-check-label">
        {{ role }}
      </label>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Submit</button>
</div>
